@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

:root{
margin: 0;
padding: 0;
box-sizing: border-box;

font-size: 62.5%;

--font-handwritten: "Beth Ellen", cursive;

--color-primary: #f5f5f5;
--color-warn-lighter: lightcoral;
--color-warn-darker: darkred;
--color-ok-light: #49fb35;
--color-ok-lighter: #45a049;
--color-ok-darker: darkgreen;

--text-shadow-lighter: var(--color-warn-lighter) 0 0 0.2rem;
}

body {
display: grid;
grid-template-columns: 1fr max-content 1fr;
grid-template-rows: 20rem 1fr 20rem;
grid-template-areas:
". header ."
". main ."
". footer .";
align-items: center;
font-size: calc(1em + 1vw);
font-family: var(--font-handwritten);
color: var(--color-primary);

background-image: url('https://images.pexels.com/photos/3335016/pexels-photo-3335016.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
background-size: 100% auto;
background-repeat: no-repeat;
background-attachment: fixed;

text-shadow: var(--text-shadow-lighter);
}


header {
grid-area: header;
}

main {
grid-area: main;
}

cdc-footer {
grid-area: footer;
font-size: calc(0.08em + 1vw);
border-top: var(--color-primary) solid 0.15rem;
}

button {
  font-size: calc(0.1em + 1vw);
  font-family: var(--font-handwritten);
  color: var(--color-primary);
}

button[type=button] {
  background-color: var(--color-ok-darker);
}

button[type=button]:hover {
  background-color: var(--color-ok-lighter);
}

button[type=reset] {
  background-color: var(--color-warn-darker);
}

button[type=reset]:hover {
  background-color: var(--color-warn-lighter);
}

input[type=number] {
  width: 4rem;
  font-family: var(--font-handwritten);
}

#result {
  font-size: calc(0.6em + 1vw);
  text-shadow: var(--color-warn-lighter) 0 0 0.2rem;
}

input:invalid + span::before {
  content: "✖";
  color: var(--color-warn-lighter);
  font-size: 2rem;
  font-family: var(--font-handwritten);
}

input:valid + span::before {
  content: "✓";
  color: var(--color-ok-light);
  font-family: var(--font-handwritten);
}